.header {
  height: 60px;
  background-color: #192a56;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 16px;
}
.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 24px;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  width: 100%;
  border: 0;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header__optionLine1 {
  font-size: 12px;
  color: lightgray;
}
.header__optionLine2 {
  font-size: 14px;
  font-weight: 600;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin: 0 2px;
}
.header__basketCount {
  margin: 0 10px;
}
